html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center;
    font-family: "Bree Serif", serif;
}
body{
    margin: 0;
    background-color: orange;
    padding-top: 10px;
}

.admin-form{
    width: 500px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: 0 auto; /*가운데 정렬*/
}

form{
    padding: 10px;
    border: 2px solid moccasin;
}

.submit-btn{
    color: white;
    font-size: 14px;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    display: none;
}

/********* TABLE ***********/
table.admin-table{
    border-collapse: separate;
    text-align: center;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    height: 200px;
}

table.admin-table caption{
    font-size: 1em;
    font-weight: bold;
}

table.admin-table thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: center;
    color: #fff;
    background-color: coral;
    margin: 20px 10px;
}

table.admin-table tbody th {
    font-size: 12px;
    font-weight: bold;
    width: 150px;
    padding: 10px;
}
table.admin-table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    background-color: #eee;
}

/********FORM ********/
.text-field{
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}